<template>
  <div class="main-container">
    <div class="fix-size-container">
      <div
        class="dropdown-button"
        @click="showCities = !showCities"
        :class="{ 'square-border': showCities }"
      >
        <div class="left">
          <img src="../../assets/images/insurance/city.svg" alt="num" />
        </div>
        <div class="center">
          <p class="top">Місто реєстрації власника</p>
          <p class="middle">{{ selectCity }}</p>
        </div>
        <div class="right">
          <img
            class="image-dropdown"
            :class="{ rotate: showCities }"
            src=""
            alt="show"
          />
        </div>
      </div>
      <div class="dropdown-elem" v-if="showCities">
        <p
          v-for="item in cities"
          :key="item.id"
          @click="(selectCity = item.city), (showCities = !showCities)"
        >
          {{ item.city }}
        </p>
      </div>
      <!-- FRANCHISE -->
      <div
        class="dropdown-button"
        @click="showFranchise = !showFranchise"
        :class="{ 'square-border': showFranchise }"
      >
        <div class="left">
          <img src="../../assets/images/insurance/franchise.svg" alt="num" />
        </div>
        <div class="center">
          <p class="top">Франшиза</p>
          <p class="middle">{{ selectFranchise }}</p>
          <p class="bottom">
            Зазначену суму страхова компанія не заплатить потерпілій стороні, її
            повинен погасити винуватець ДТП.
          </p>
        </div>
        <div class="right">
          <img
            class="image-dropdown"
            :class="{ rotate: showFranchise }"
            src=""
            alt="show"
          />
        </div>
      </div>
      <div class="dropdown-elem" v-if="showFranchise">
        <p
          v-for="(item, i) in franchiseArr"
          :key="i"
          @click="(selectFranchise = item), (showFranchise = !showFranchise)"
        >
          {{ item }}
        </p>
      </div>
      <!-- LIMIT -->
      <div
        class="dropdown-button"
        @click="showLimite = !showLimite"
        :class="{ 'square-border': showLimite }"
      >
        <div class="left">
          <img src="../../assets/images/insurance/limit.svg" alt="num" />
        </div>
        <div class="center">
          <p class="top">Додатковий ліміт</p>
          <p class="middle">{{ selectLimite }}</p>
          <p class="bottom">
            Додатковий лиміт цивільної відповідальності — ефективне доповнення
            Автоцивілки. Якщо при відшкодуванні шкоди не вистачить ліміту
            Автоцивілки, виплата буде відбуватись за рахунок додаткового
            договору відповідальності.
          </p>
        </div>
        <div class="right">
          <img
            class="image-dropdown"
            :class="{ rotate: showLimite }"
            src=""
            alt="show"
          />
        </div>
      </div>
      <div class="dropdown-elem" v-if="showLimite">
        <p
          v-for="(item, i) in limiteArr"
          :key="i"
          @click="(selectLimite = item), (showLimite = !showLimite)"
        >
          {{ item }}
        </p>
      </div>
      <!-- SUBSIDIES -->
      <div
        class="dropdown-button"
        @click="showSubsidies = !showSubsidies"
        :class="{ 'square-border': showSubsidies }"
      >
        <div class="left">
          <img src="../../assets/images/insurance/limit.svg" alt="num" />
        </div>
        <div class="center">
          <p class="top">Чи є у вас пільги</p>
          <p class="middle">{{ selectSubsidies }}</p>
          <p class="bottom">
            Пільговик не може придбати автоцивілку для iншої особи — знижка 50%
            гарантирована тільки для машин, що знаходяться у його власності.
          </p>
        </div>
        <div class="right">
          <img
            class="image-dropdown"
            :class="{ rotate: showSubsidies }"
            src=""
            alt="show"
          />
        </div>
      </div>
      <div class="dropdown-elem" v-if="showSubsidies">
        <p
          v-for="(item, i) in subsidiesArr"
          :key="i"
          @click="(selectSubsidies = item), (showSubsidies = !showSubsidies)"
        >
          {{ item }}
        </p>
      </div>
      <button @click="showPolicy" class="main-button">
        Продовжити
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "ChooseParams",
  components: {},
  data() {
    return {
      showCities: false,
      selectCity: "Київ",
      cities: [
        {
          city: "Київ",
          id: "10",
        },
        {
          city: "Тернопіль",
          id: "11",
        },
        {
          city: "Львів",
          id: "12",
        },
      ],
      showFranchise: false,
      selectFranchise: "0.00",
      franchiseArr: ["0.00", "1500.00", "2500.00"],
      showLimite: false,
      selectLimite: "0.00",
      limiteArr: [
        "0.00",
        "100000.00",
        "200000.00",
        "250000.00",
        "500000.00",
        "1000000.00",
      ],
      showSubsidies: false,
      selectSubsidies: "Пільги відсутні",
      subsidiesArr: [
        "Пільги відсутні",
        "Учасник війни",
        "Інвалід II групи",
        "Чорнобилець",
        "Пенсіонер",
      ],
    };
  },
  methods: {
    toRouteName(name) {
      this.$router.push({ name });
    },
    showPolicy() {
      this.$emit("showPolicy", true);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.fix-size-container {
  width: 320px;
  padding-bottom: 90px;
  font-family: "TT Hoves";
}
.dropdown-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 20px;
}
.dropdown-button > .left,
.dropdown-button > .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.dropdown-button > .right {
  width: 10%;
}
.dropdown-button > .center {
  width: 70%;
}
.center .top {
  font-size: 14px;
  line-height: 150%;
  color: #77777b;
  margin-top: 5px;
  margin-bottom: 0;
}
.center .middle {
  font-size: 18px;
  line-height: 100%;
  color: #1b1b1b;
  margin-top: 5px;
  margin-bottom: 13px;
}
.center .bottom {
  font-size: 12px;
  line-height: 140%;
  color: #77777b;
  margin-bottom: 18px;
}
.image-dropdown {
  transform: rotate(-90deg);
  width: 7px;
}
.image-dropdown.rotate {
  transform: rotate(90deg);
}
.dropdown-elem {
  border-radius: 0 0 10px 10px;
  background: #fff;
  padding: 20px 38px 20px 65px;
  max-height: 180px;
  overflow: auto;
}
.dropdown-elem p {
  font-size: 18px;
  line-height: 100%;
  color: #1b1b1b;
  padding: 5px 7px;
}
.dropdown-elem p:not(:last-child) {
  margin-bottom: 10px;
}
.dropdown-elem p:last-child {
  margin-bottom: 0;
}
.dropdown-elem p:hover {
  background: #f4f6f7;
  border-radius: 6px;
  max-height: 170px;
  overflow: auto;
}
.main-button {
  width: 320px;
  height: 60px;
  background: #1238c0;
  border-radius: 10px;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
</style>
