<template>
  <div class="main-container">
    <div class="fix-size-container" v-if="!confirm">
      <div class="card-policy" v-for="item in policyArr" :key="item.id">
        <div class="top">
          <div class="left">
            <img :src="item.companyLogoUrl" :alt="item.companyName" />
          </div>
          <div class="center">
            <div class="name-rate">
              <p class="name">{{ item.companyName }}</p>
              <b-form-rating
                v-model="item.companyRate"
                readonly
                variant="warning"
                class="rate"
              ></b-form-rating>
            </div>
            <div class="disc" v-if="item.discount">{{ item.discount }}%</div>
          </div>
          <div class="right">
            <p class="price">{{ item.costs }} ₴</p>
            <p v-if="item.discount" class="full-price">
              {{ item.fullPrice }} ₴
            </p>
          </div>
        </div>
        <div class="bottom">
          <div class="left" @click="showInfoPolicy(`policy-info${item.id}`)">
            <img src="../../assets/images/insurance/info.svg" alt="info" />
          </div>
          <div class="right" v-if="item.features[1]">
            <img src="../../assets/images/insurance/direct.svg" alt="direct" />
            Пряме врегулювання
          </div>
        </div>
        <div class="card-info d-none" :id="`policy-info${item.id}`">
          {{ item.companyDescription }}
        </div>
      </div>
      <button @click="confirm = !confirm" class="main-button">
        Продовжити
      </button>
    </div>
    <ConfirmPolicy v-if="confirm" />
  </div>
</template>

<script>
import ConfirmPolicy from "./ConfirmPolicy.vue";
export default {
  name: "ChoosePolicy",
  components: {
    ConfirmPolicy,
  },
  data() {
    return {
      policyArr: [
        {
          id: "6086893c25926500137e594b",
          companyId: "30968986",
          companyName: "СК Альфа страхування",
          companySite: "https://alfaic.ua",
          companyLogoUrl:
            "https://polis.ua/service/resources/company/logo/30968986",
          companyRate: 10.0,
          companyDescription:
            "«СК «Альфа Страхування» (Україна) – один із лідерів українського страхового ринку. Компанія має інвестиції в ряді банківських груп на території країн СНД та Європи.\nВаловые страховые платежи в 2015г составили 450 млн грн. Валовые страховые выплаты в 2015г составили 114 млн грн",
          order: -2026001750,
          franchise: 2500,
          costs: 1608,
          discount: 10,
          fullPrice: 1608,
          features: [
            {
              id: "F_2500",
              name: "Франшиза 2500",
            },
          ],
          maxStartDate: "24-04-2022",
          dgoConfig: null,
        },
        {
          id: "6086893c25926500137e5943",
          companyId: "30968986",
          companyName: "СК Альфа страхування",
          companySite: "https://alfaic.ua",
          companyLogoUrl:
            "https://polis.ua/service/resources/company/logo/30968986",
          companyRate: 10.0,
          companyDescription:
            "«СК «Альфа Страхування» (Україна) – один із лідерів українського страхового ринку. Компанія має інвестиції в ряді банківських груп на території країн СНД та Європи.\nВаловые страховые платежи в 2015г составили 450 млн грн. Валовые страховые выплаты в 2015г составили 114 млн грн",
          order: 1996462963,
          franchise: 1500,
          costs: 1766,
          discount: 0,
          fullPrice: 1766,
          features: [
            {
              id: "F_1500",
              name: "Франшиза 1500",
            },
          ],
          maxStartDate: "24-04-2022",
          dgoConfig: null,
        },
        {
          id: "6086893c25926500137e5947",
          companyId: "30968986",
          companyName: "СК Альфа страхування",
          companySite: "https://alfaic.ua",
          companyLogoUrl:
            "https://polis.ua/service/resources/company/logo/30968986",
          companyRate: 5.0,
          companyDescription:
            "«СК «Альфа Страхування» (Україна) – один із лідерів українського страхового ринку. Компанія має інвестиції в ряді банківських груп на території країн СНД та Європи.\nВаловые страховые платежи в 2015г составили 450 млн грн. Валовые страховые выплаты в 2015г составили 114 млн грн",
          order: -1942743598,
          franchise: 0,
          costs: 2018,
          discount: 0,
          fullPrice: 2018,
          features: [
            {
              id: "F_0",
              name: "Франшиза 0",
            },
          ],
          maxStartDate: "24-04-2022",
          dgoConfig: null,
        },
        {
          id: "61e2d3ebcbf1330013efb31a",
          companyId: "00034186",
          companyName: "НАСК Оранта",
          companySite: "http://www.oranta.ua",
          companyLogoUrl:
            "https://polis.ua/service/resources/company/logo/00034186",
          companyRate: 9.0,
          companyDescription:
            "НАСК «Оранта» є правонаступницею Укрдержстраху, заснованого 25 листопада 1921 року. Компанія стала приватною, що сприяло подальшому поліпшенню структури активів НАСК «Оранта» і підвищенню її платоспроможності.",
          order: -437031136,
          franchise: 1500,
          costs: 2207,
          discount: 0,
          fullPrice: 2207,
          features: [
            {
              id: "F_1500",
              name: "Франшиза 1500",
            },
          ],
          maxStartDate: "24-01-2023",
          dgoConfig: null,
        },
        {
          id: "61eff44c5e843500141158d9",
          companyId: "30115243",
          companyName: "СГ ТАС",
          companySite: "www.tas-insurance.com.ua",
          companyLogoUrl:
            "https://polis.ua/service/resources/company/logo/30115243",
          companyRate: 10.0,
          companyDescription:
            "СГ « ТАС » - універсальний страховик , який пропонує споживачам понад 80 страхових продуктів з різних видів добровільного та обов'язкового страхування.\nВалових платежів за 2015р зібрано понад 600 млн гривень. Валові виплати склали 212 млн гривень. ",
          order: -1157285397,
          franchise: 2500,
          costs: 2292,
          discount: 0,
          fullPrice: 2292,
          features: [
            {
              id: "F_2500",
              name: "Франшиза 2500",
            },
          ],
          maxStartDate: "24-01-2023",
          dgoConfig: {
            id: "30115243",
            dgoParams: [
              {
                coverage: "50000",
                cost: 200.0,
                carType: "B2",
                zoneId: 1,
                taxi: null,
                dgoTarif: 0.4,
              },
              {
                coverage: "250000",
                cost: 530.0,
                carType: "B2",
                zoneId: 1,
                taxi: null,
                dgoTarif: 0.213,
              },
              {
                coverage: "1000000",
                cost: 960.0,
                carType: "B2",
                zoneId: 1,
                taxi: null,
                dgoTarif: 0.096,
              },
            ],
            active: true,
            isActive: true,
          },
        },
        {
          id: "61e2d4a7cbf1330013efb321",
          companyId: "00034186",
          companyName: "НАСК Оранта",
          companySite: "http://www.oranta.ua",
          companyLogoUrl:
            "https://polis.ua/service/resources/company/logo/00034186",
          companyRate: 9.0,
          companyDescription:
            "НАСК «Оранта» є правонаступницею Укрдержстраху, заснованого 25 листопада 1921 року. Компанія стала приватною, що сприяло подальшому поліпшенню структури активів НАСК «Оранта» і підвищенню її платоспроможності.",
          order: -12205047,
          franchise: 0,
          costs: 2680,
          discount: 0,
          fullPrice: 2680,
          features: [
            {
              id: "F_0",
              name: "Франшиза 0",
            },
          ],
          maxStartDate: "24-01-2023",
          dgoConfig: null,
        },
        {
          id: "61420cb478b27e0014a42126",
          companyId: "20474912",
          companyName: "ARX",
          companySite: "https://arx.com.ua",
          companyLogoUrl:
            "https://polis.ua/service/resources/company/logo/20474912",
          companyRate: 10.0,
          companyDescription:
            "ПАТ «Страхова компанія «АХА Страхування» - один з лідерів на ринку ризикового страхування України. Входить до французької Групи AXA.\nСьомий рік поспіль AXA – страховий бренд №1 у світі.\nВалові платежі за 2015р - 1,09 млрд гривень.\nВалові виплати за 2015 р - 490 млн гривень.",
          order: 1066290524,
          franchise: 2500,
          costs: 3502,
          discount: 0,
          fullPrice: 3502,
          features: [
            {
              id: "F_2500",
              name: "Франшиза 2500",
            },
            {
              id: "PR_UR",
              name: "прямое урегулирование",
            },
          ],
          maxStartDate: "24-01-2023",
          dgoConfig: null,
        },
        {
          id: "61420cb478b27e0014a42125",
          companyId: "20474912",
          companyName: "ARX",
          companySite: "https://arx.com.ua",
          companyLogoUrl:
            "https://polis.ua/service/resources/company/logo/20474912",
          companyRate: 10.0,
          companyDescription:
            "ПАТ «Страхова компанія «АХА Страхування» - один з лідерів на ринку ризикового страхування України. Входить до французької Групи AXA.\nСьомий рік поспіль AXA – страховий бренд №1 у світі.\nВалові платежі за 2015р - 1,09 млрд гривень.\nВалові виплати за 2015 р - 490 млн гривень.",
          order: 1469613125,
          franchise: 0,
          costs: 4456,
          discount: 0,
          fullPrice: 4456,
          features: [
            {
              id: "F_0",
              name: "Франшиза 0",
            },
            {
              id: "PR_UR",
              name: "прямое урегулирование",
            },
          ],
          maxStartDate: "24-01-2023",
          dgoConfig: null,
        },
      ],
      confirm: false,
    };
  },
  methods: {
    toRouteName(name) {
      this.$router.push({ name });
    },
    showInfoPolicy(id) {
      let elem = document.getElementById(id);
      if (elem.classList.contains("d-none")) {
        elem.classList.remove("d-none");
      } else {
        elem.classList.add("d-none");
      }
    },
    calculateRate() {
      this.policyArr.map((policy) => {
        policy.companyRate = policy.companyRate / 2;
      });
    },
  },
  created() {
    this.calculateRate();
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.fix-size-container {
  width: 320px;
  padding-bottom: 90px;
  padding-top: 20px;
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: normal;
  color: #1b1b1b;
  line-height: 100%;
}
.card-policy {
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
}
.card-policy > div {
  display: flex;
}
.card-policy .top {
  height: 60px;
  padding: 20px;
}
.card-policy .top .left img {
  max-width: 50px;
  max-height: 35px;
  margin-right: 22px;
}
.card-policy .center {
  display: flex;
  width: 135px;
}
.card-policy .center .rate {
  border: none;
  width: 78px;
  height: 14px;
  padding: 0;
  font-size: 14px;
  text-align: start;
}

.card-policy .center .name {
  width: 100px;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  margin-bottom: 10px;
}
.card-policy .center .disc {
  font-size: 14px;
  color: #000dff;
  margin-left: auto;
}
.card-policy .top .right {
  margin-left: auto;
}
.card-policy .top .right {
  font-family: "TT Hoves Medium";
  font-size: 18px;
}
.card-policy .top .right .full-price {
  font-family: "TT Hoves";
  text-decoration-line: line-through;
  color: #77777b;
  font-size: 14px;
}
.card-policy .bottom > div {
  display: flex;
  align-items: center;
  font-size: 13px;
}
.card-policy .bottom .right img {
  margin-right: 8px;
}
.card-policy .bottom {
  padding: 15px 20px;
}
.card-policy .bottom img {
  width: 16px;
}
.card-policy .bottom .left {
  margin-right: 55px;
}
.card-info {
  background: #d4dadf;
  font-size: 15px;
  line-height: 150%;
  border-radius: 0 0 10px 10px;
  padding: 10px 20px;
}
.main-button {
  width: 320px;
  height: 60px;
  background: #1238c0;
  border-radius: 10px;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
</style>
