<template>
  <div class="main-container">
    <div class="fix-size-container">
      <div class="card-confirm">
        <div class="image">
          <img :src="confirmObj.companyLogoUrl" alt="" class="logo" />
        </div>
        <div class="info">
          <div class="top">
            <p class="name">{{ confirmObj.companyName }}</p>
            <p class="price">{{ confirmObj.costs }} ₴</p>
          </div>
          <div class="bottom">
            {{ confirmObj.companyDescription }}
          </div>
        </div>
      </div>
      <div class="card-details">
        <div class="image">
          <img src="../../assets/images/insurance/client.svg" alt="person" />
        </div>
        <div>
          <p class="name">
            Клієнт
          </p>
          <p class="text">
            {{ confirmObj.carMark }}
          </p>
        </div>
      </div>
      <div class="card-details">
        <div class="image">
          <img src="../../assets/images/insurance/car_2.svg" alt="person" />
        </div>
        <div>
          <p class="name">
            Авто
          </p>
          <p class="text">
            {{ confirmObj.carNumber }}
          </p>
        </div>
      </div>
      <div class="card-details last-card">
        <div class="image">
          <img src="../../assets/images/insurance/car_3.svg" alt="person" />
        </div>
        <div>
          <p class="name">
            Номер
          </p>
          <p class="text">
            customerDetails.LastName customerDetails.FirstName
            customerDetails.MiddleName
          </p>
        </div>
      </div>
      <div class="card-details card-info">
        <div class="image">
          <img src="../../assets/images/insurance/mail.svg" alt="person" />
        </div>
        <div>
          <p class="name">
            Отримати договір на e-mail
          </p>
          <p class="text">
             customerDetails.Email
          </p>
        </div>
      </div>
      <div class="card-details card-info">
        <div class="image">
          <img src="../../assets/images/insurance/date.svg" alt="person" />
        </div>
        <div>
          <p class="name">
            Отримати договір на e-mail
          </p>
          <p class="text">
            {{ confirmObj.date }}
          </p>
        </div>
      </div>
      <button class="main-button">
        Продовжити
      </button>
    </div>
  </div>
</template>

<script>
//import { mapGetters } from "vuex";

export default {
  name: "ChoosePolicy",
  components: {},
  data() {
    return {
      confirmObj: {
        companyId: "30968986",
        companyName: "СК Альфа страхування",
        companyLogoUrl:
          "https://polis.ua/service/resources/company/logo/30968986",
        carNumber: "IA1234AI",
        carMark: "Toyota",
        companyDescription: "Полис ОСПЦ, франшиза 0₴, без додаткових лимитив",
        costs: 1608,
        date: "22 грудня 2022",
      },
      mail: null,
    };
  },
  methods: {
    toRouteName(name) {
      this.$router.push({ name });
    },
  },
  computed: {
    //...mapGetters(["customerDetails"]),
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.fix-size-container {
  width: 320px;
  padding-bottom: 90px;
  padding-top: 20px;
  font-family: "TT Hoves";
  font-style: normal;
  font-weight: normal;
  color: #1b1b1b;
  font-size: 16px;
  line-height: 100%;
}
.main-button {
  width: 320px;
  height: 60px;
  background: #1238c0;
  border-radius: 10px;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  border: none;
  margin-top: 20px;
  margin-bottom: 15px 20px;
}
.card-confirm {
  border-radius: 10px 10px 0 0;
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 1px;
  display: flex;
}
.card-confirm .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "TT Hoves Medium";
  margin-bottom: 14px;
}
.card-confirm img {
  max-width: 50px;
  max-height: 35px;
}
.card-confirm .name {
  margin-bottom: 0;
  width: 120px;
  height: 18px;
  overflow: hidden;
}
.card-confirm .price {
  font-size: 22px;
  margin-bottom: 0;
}
.card-details {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: #ffffff;
}

.card-details.last-card {
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px;
}
.card-details.card-info {
  border-radius: 10px;
  margin-bottom: 20px;
}
.card-details > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-details .image,
.card-confirm .image {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
}
.card-confirm .image {
  align-items: flex-start;
}
.card-details img {
  max-width: 36px;
  max-height: 28px;
}
.card-details .name {
  font-size: 14px;
  line-height: 150%;
  color: #77777b;
  margin-bottom: 4px;
}
.card-details .text {
  font-size: 18px;
  margin-bottom: 0;
}
</style>
