<template>
  <div class="container-fluid">
<!--    <Header :nameHeader="textHeader" />-->
    <div class="main-container" v-if="!showData">
      <div class="fix-size-container">
        <p class="info">
          Введiть номер транспортного засобу
        </p>
        <input
          v-model="number"
          class="input text-uppercase"
          type="text"
          placeholder="MO1912HO"
        />
        <button class="main-button" @click="getAutoInfo">
          Продовжити
        </button>
        <router-link
          class="secondary-button"
          :to="{ name: 'InsuranceParams' }"
          tag="button"
        >
          Пошук за параметрами
        </router-link>
      </div>
    </div>
    <InsuranceData
      v-if="showData && !showChooseParams"
      @showChoose="showChoose"
    />
    <ChooseParams
      @showPolicy="showPolicy"
      v-if="showChooseParams && !showChoosePolicy"
    />
    <ChoosePolicy v-if="showChoosePolicy" />
  </div>
</template>

<script>
//import Header from "../Header&Footer/Header";
import InsuranceData from "./InsuranceData";
import ChooseParams from "./ChooseParams";
import ChoosePolicy from "./ChoosePolicy";
//import { ProdAndTestCred } from "../../main";
import axios from "axios";

export default {
  name: "InsuranceNumber",
  components: {
    //Header,
    InsuranceData,
    ChooseParams,
    ChoosePolicy,
  },
  data() {
    return {
      number: null,
      showData: false,
      textHeader: "ВВедіть номер транспортного засобу",
      showChooseParams: false,
      showChoosePolicy: false,
    };
  },
  methods: {
    showChoose(value) {
      this.showChooseParams = value;
    },
    showPolicy(value) {
      this.showChoosePolicy = value;
    },
    async getAutoInfo() {
      try {
        let response = await axios.post(
          `https://test-ocean-credit-app.herokuapp.com/api/insurance/cars/?car_number=${this.number}`,
          {
            headers: {
              "Content-Type": "application/json",
              //Authorization: ProdAndTestCred.backendToken,
            },
          }
        );
        console.log(response.data);
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.container-fluid {
  min-height: 100vh;
  background: #f4f6f7;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "TT Hoves";
  line-height: 130%;
  font-size: 20px;
  color: #1b1b1b;
}
.fix-size-container {
  width: 320px;
  padding: 34px 0;
}
.input {
  border: 1px solid #d8d8d9;
  border-radius: 10px;
  background: #ffffff;
  color: #1238c0;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 22px 0;
  height: 80px;
  width: 320px;
  margin-bottom: 60px;
  text-align: center;
  &.text-uppercase{
    text-transform: uppercase;
  }
}
.input::placeholder {
  color: #d8d8d9;
}
.main-button {
  width: 320px;
  height: 60px;
  background: #1238c0;
  border-radius: 10px;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  border: none;
  margin-bottom: 20px;
}
.secondary-button {
  width: 320px;
  height: 60px;
  background: #ffffff;
  border: 1.5px solid #1238c0;
  border-radius: 10px;
}
</style>
