<template>
  <div class="container-fluid">
<!--    <Header :nameHeader="'Пошук за параметрами авто'" />-->
    <div class="main-container" v-if="!showData">
      <div class="fix-size-container">
        <div class="dropdown-button">
          <div class="left">
            <img src="../../assets/images/insurance/car.svg" alt="num" />
          </div>
          <div class="center relative">
            <span class="small">Номер транспортного засобу</span>
            <input
              v-model="number"
              class="input text-uppercase"
              type="tel"
              placeholder="MO1912HO"
            />
          </div>
        </div>
        <!-- TYPE AUTO -->
        <div
          class="dropdown-button"
          @click="showType = !showType"
          :class="{ 'square-border': showType }"
        >
          <div class="left">
            <img src="../../assets/images/insurance/type.svg" alt="num" />
          </div>
          <div class="center relative">
            <span class="small">Тип авто</span>
            <p class="select">{{ selectType }}</p>
          </div>
          <div class="right">
            <img
              class="image-dropdown"
              :class="{ rotate: showType }"
              src=""
              alt="show"
            />
          </div>
        </div>
        <div class="dropdown-elem" v-if="showType">
          <p
            v-for="(item, i) in typeArr"
            :key="i"
            @click="(selectType = item), (showType = !showType)"
          >
            {{ item }}
          </p>
        </div>
        <!-- CAR MARK -->
        <div
          class="dropdown-button"
          @click="showMark = !showMark"
          :class="{ 'square-border': showMark }"
        >
          <div class="left">
            <img src="../../assets/images/insurance/mark.svg" alt="num" />
          </div>
          <div class="center relative">
            <span class="small">Марка</span>
            <p class="select">{{ selectMark }}</p>
          </div>
          <div class="right">
            <img
              class="image-dropdown"
              :class="{ rotate: showMark }"
              src=""
              alt="show"
            />
          </div>
        </div>
        <div class="dropdown-elem" v-if="showMark">
          <p
            v-for="(item, i) in markArr"
            :key="i"
            @click="(selectMark = item), (showMark = !showMark)"
          >
            {{ item }}
          </p>
        </div>
        <!-- CAR MODEL -->
        <div
          class="dropdown-button"
          @click="showModel = !showModel"
          :class="{ 'square-border': showModel }"
        >
          <div class="left">
            <img src="../../assets/images/insurance/model.svg" alt="num" />
          </div>
          <div class="center relative">
            <span class="small">Модель</span>
            <p class="select">{{ selectModel }}</p>
          </div>
          <div class="right">
            <img
              class="image-dropdown"
              :class="{ rotate: showModel }"
              src=""
              alt="show"
            />
          </div>
        </div>
        <div class="dropdown-elem" v-if="showModel">
          <p
            v-for="(item, i) in modelArr"
            :key="i"
            @click="(selectModel = item), (showModel = !showModel)"
          >
            {{ item }}
          </p>
        </div>
        <!-- PRODUCTION DATE -->
        <div
          class="dropdown-button"
          @click="showYear = !showYear"
          :class="{ 'square-border': showYear }"
        >
          <div class="left">
            <img src="../../assets/images/insurance/year.svg" alt="num" />
          </div>
          <div class="center relative">
            <span class="small">Рiк випуску</span>
            <p class="select">{{ selectYear }}</p>
          </div>
          <div class="right">
            <img
              class="image-dropdown"
              :class="{ rotate: showYear }"
              src=""
              alt="show"
            />
          </div>
        </div>
        <div class="dropdown-elem" v-if="showYear">
          <p
            v-for="(item, i) in yearArr"
            :key="i"
            @click="(selectYear = item), (showYear = !showYear)"
          >
            {{ item }}
          </p>
        </div>
        <!-- ENGINE CAPACITY -->
        <div
          class="dropdown-button"
          @click="showEngine = !showEngine"
          :class="{ 'square-border': showEngine }"
        >
          <div class="left">
            <img src="../../assets/images/insurance/volume.svg" alt="num" />
          </div>
          <div class="center relative">
            <span class="small">Об’єм двигуна</span>
            <p class="select">{{ selectEngine }}</p>
          </div>
          <div class="right">
            <img
              class="image-dropdown"
              :class="{ rotate: showEngine }"
              src=""
              alt="show"
            />
          </div>
        </div>
        <div class="dropdown-elem" v-if="showEngine">
          <p
            v-for="(item, i) in engineArr"
            :key="i"
            @click="(selectEngine = item), (showEngine = !showEngine)"
          >
            {{ item }}
          </p>
        </div>
        <!-- VIN NUMBER -->
        <div class="dropdown-button">
          <div class="left">
            <img src="../../assets/images/insurance/vin.svg" alt="num" />
          </div>
          <div class="center relative">
            <span class="small">VIN-номер</span>
            <input
              v-model="vin"
              class="input text-uppercase"
              type="tel"
              placeholder="SFKJ4H5JH4DFHFN945"
            />
          </div>
        </div>
        <button class="main-button" @click="showData = true">Знайти</button>
      </div>
    </div>
    <InsuranceData
      v-if="showData && !showChooseParams"
      @showChoose="showChoose"
    />
    <ChooseParams v-if="showChooseParams" />
  </div>
</template>

<script>
//import Header from "../Header&Footer/Header";
import InsuranceData from "./InsuranceData";
import ChooseParams from "./ChooseParams";

export default {
  name: "InsuranceParams",
  components: {
    //Header,
    InsuranceData,
    ChooseParams,
  },
  data() {
    return {
      number: null,
      showType: false,
      typeArr: ["Легковий автомобіль", "Мотоцикл, Мотороллер", "Електромобіль"],
      selectType: null,
      showMark: false,
      markArr: [],
      selectMark: null,
      showModel: false,
      modelArr: [],
      selectModel: null,
      showYear: false,
      yearArr: [],
      selectYear: null,
      showEngine: false,
      engineArr: [],
      selectEngine: null,
      vin: null,
      showData: false,
      showChooseParams: false,
    };
  },
  methods: {
    toRouteName(name) {
      this.$router.push({ name });
    },
    showChoose(value) {
      this.showChooseParams = value;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "TT Hoves";
  line-height: 140%;
  color: #1b1b1b;
  padding-bottom: 90px;
  background: #f4f6f7;
}
.fix-size-container {
  width: 320px;
}
.input {
  background: #ffffff;
  color: #1b1b1b;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.02em;
  height: 20px;
  width: 100%;
  border: none;
  margin-top: 15px;

  &.text-uppercase{
    text-transform: uppercase;
  }
}
.input::placeholder {
  color: #d8d8d9;
}
.dropdown-button {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  height: 60px;
  margin-top: 20px;
}
.dropdown-button.square-border {
  border-radius: 10px 10px 0 0;
}
.dropdown-button div {
  display: flex;
  align-items: center;
}
.left {
  width: 28px;
  margin-right: 25px;
}
.center {
  width: 100%;
  height: 60px;
}
.right {
  width: 7px;
}
.relative {
  position: relative;
}
.small {
  position: absolute;
  top: 3px;
  font-size: 14px;
  color: #77777b;
}
.select {
  font-size: 18px;
  line-height: 100%;
  color: #1b1b1b;
  margin-top: 30px;
}
.main-button {
  width: 320px;
  height: 60px;
  background: #1238c0;
  border-radius: 10px;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.image-dropdown {
  transform: rotate(-90deg);
  width: 7px;
}
.image-dropdown.rotate {
  transform: rotate(90deg);
}
.dropdown-elem {
  border-radius: 0 0 10px 10px;
  background: #fff;
  padding: 20px 38px 20px 65px;
  max-height: 180px;
  overflow: auto;
}
.dropdown-elem p {
  font-size: 18px;
  line-height: 100%;
  color: #1b1b1b;
  padding: 5px 7px;
  margin-bottom: 10px;
}
.dropdown-elem p:hover {
  background: #f4f6f7;
  border-radius: 6px;
  max-height: 170px;
  overflow: auto;
}
</style>
