<template>
  <div class="container-fluid">
    <div class="main-container">
      <div class="fix-size-container">
        <div
          class="dropdown-button"
          @click="showInfo = !showInfo"
          :class="{ 'square-border': showInfo }"
        >
          <div class="left">
            <img src="../../assets/images/insurance/car.svg" alt="num" />
          </div>
          <div class="center">
            {{ number }}
          </div>
          <div class="right">
            <img
              class="image-dropdown"
              :class="{ rotate: !showInfo }"
              src="../../assets/images/insurance/drop.svg"
              alt="show"
            />
          </div>
        </div>
        <div class="dropdown" v-if="showInfo">
          <div class="info-container">
            <div class="left">
              <img src="../../assets/images/insurance/mark.svg" alt="num" />
            </div>
            <div class="center">
              <span class="small">Марка</span>
              <p class="select">{{ mark }}</p>
            </div>
          </div>
          <div class="info-container">
            <div class="left">
              <img src="../../assets/images/insurance/model.svg" alt="num" />
            </div>
            <div class="center">
              <span class="small">Модель</span>
              <p class="select">{{ model }}</p>
            </div>
          </div>
          <div class="info-container">
            <div class="left">
              <img src="../../assets/images/insurance/year.svg" alt="num" />
            </div>
            <div class="center">
              <span class="small">Рiк випуску</span>
              <p class="select">{{ year }}</p>
            </div>
          </div>
          <div class="info-container">
            <div class="left">
              <img src="../../assets/images/insurance/volume.svg" alt="num" />
            </div>
            <div class="center">
              <span class="small">Об’єм двигуна</span>
              <p class="select">{{ engine }}</p>
            </div>
          </div>
          <div class="info-container">
            <div class="left">
              <img src="../../assets/images/insurance/vin.svg" alt="num" />
            </div>
            <div class="center">
              <span class="small">VIN-номер</span>
              <p class="select">{{ vin }}</p>
            </div>
          </div>
        </div>
        <button class="main-button" @click="showChoose">Все вірно</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "InsuranceData",
  components: {},
  data() {
    return {
      number: "AA1234AA",
      showInfo: true,
      mark: "Toyota",
      model: "RAV4",
      year: 2018,
      engine: "До 1600 см3 включено",
      vin: "SFKJ4H5JH4DFHFN945",
    };
  },
  methods: {
    toRouteName(name) {
      this.$router.push({ name });
    },
    showChoose() {
      this.$emit("showChoose", true);
      this.showInfo = false;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "TT Hoves";
  line-height: 140%;
  color: #1b1b1b;
  padding-bottom: 90px;
  background: #f4f6f7;
}
.fix-size-container {
  width: 320px;
  padding: 20px 0;
}
.dropdown-button {
  background: #d4dadf;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  height: 80px;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #1b1b1b;
}
.dropdown-button.square-border {
  border-radius: 10px 10px 0px 0px;
}
.left img {
  width: 28px;
}
.image-dropdown {
  width: 14px;
  transition: 0.2s;
}
.image-dropdown.rotate {
  transform: rotate(-90deg);
}
.dropdown {
  background: #ffffff;
  border-radius: 0 0 10px 10px;
}
.info-container {
  background: #ffffff;
  height: 60px;
  display: flex;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  margin-bottom: 10px;
}
.right {
  margin-left: auto;
}
.center {
  margin-left: 20px;
}
.small {
  position: absolute;
  top: 3px;
  font-size: 14px;
  color: #77777b;
}
.select {
  font-size: 18px;
  line-height: 100%;
  color: #1b1b1b;
  margin-top: 10px;
}
.main-button {
  width: 320px;
  height: 60px;
  background: #1238c0;
  border-radius: 10px;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
</style>
