<template>
  <div class="wrap">
    <div class="card" v-if="currentInsurance">
      <div class="card__item">
        <div class="card__row">
          <div class="card__icon">&#9940;</div>
          <div class="card__text">
            <div class="card__brand">
              {{ currentInsurance.car_brand }} {{ currentInsurance.car_model }}
            </div>
            <div class="card__number">
              {{ currentInsurance.car_number }}
            </div>
          </div>
        </div>
        <div class="card__row"
             v-if="currentInsurance.insurance_policy_status === 'Active'"
        >
          <div class="card__icon">
            <img src="@/assets/status-active.svg" alt="">
          </div>
          <div class="card__text">Чинний полис</div>
        </div>
        <div v-else class="card__row">
          <div class="card__icon">
            <img src="@/assets/status-finish.svg" alt="">
          </div>
          <div class="card__text">Недіючий полис</div>
        </div>
      </div>
      <div class="card__item">
        <div class="card__row">
          <div class="card__icon">
            <img src="@/assets/icon-number.svg" alt="">
          </div>
          <div class="card__text">
            <small>Номер полиса</small>
            {{ currentInsurance.insurance_policy }}
          </div>
        </div>
        <div class="card__row">
          <div class="card__icon">
            <img src="@/assets/icon-vin.svg" alt="">
          </div>
          <div class="card__text">
            <small>VIN-номер</small>
            {{ currentInsurance.vin }}
          </div>
        </div>
      </div>
      <div class="card__item">
        <div class="card__row card__row--btn">
          <div class="card__icon">
            <img src="@/assets/icon-pen.svg" alt="">
          </div>
          <div class="card__text">
            Редагувати данi
          </div>
        </div>
        <div class="card__row card__row--btn"
            @click="remove"
        >
          <div class="card__icon">
            <img src="@/assets/icon-bin.svg" alt="">
          </div>
          <div class="card__text">
            Видалити страховку
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: 'InsuranceCard',
  computed: {
    ...mapGetters({
      insurances: 'getInsurances'
    }),
    currentInsurance(){
      if(this.insurances){
        return this.insurances[this.$route.params.id]
      }
      else return null
    }
  },
  methods: {
    async remove(){
      const req = await this.$store.dispatch('removeInsurence',this.currentInsurance.car_number)
      if(req){
        this.$router.push({ name: 'Insurance'})
      }
    }
  },
  created() {
    this.$store.dispatch('loadInsurances')
  }
}
</script>

<style lang="scss" scoped>
  .wrap{
    background: #F1F3F7;
    padding: 20px 0;
  }
  .card{
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 18px;
    line-height: 1;
    &__item{
      padding: 8px 16px;
      border-bottom: 1px solid #D8D8D9;
    }
    &__row{
      display: flex;
      align-items: center;
      padding: 8px 0;
      &--btn{
        cursor: pointer;
      }
    }
    &__text{
      padding-left: 18px;
      width: calc(100% - 40px);
      small{
        display: block;
        color: #77777B;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 5px;
      }
    }
    &__icon{
      display: flex;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__number{
      font-size: 28px;
      font-weight: 600;
      padding-top: 8px;
    }
  }
</style>