<template>
  <div class="container-fluid">
<!--    <Header :nameHeader="'Автоцивiлка'" />-->
    <div class="main-container">
      <div class="fix-size-container land">
        Ви можете купити ОСЦПВ
        <br />
        або додати iснуючий поліс
      </div>
    </div>
    <div class="main-container grey overflow-hidden">
      <div :class="{'scroll-menu': insurancesList}">
        <div class="fix-size-container">
          <router-link tag="div" class="button" :to="{ name: 'InsuranceNumber'}">
            <div class="icon"><img src="@/assets/images/insurance/buy.svg" alt="car" /></div>
            <span>Купити ОСЦПВ</span>
          </router-link>
          <router-link tag="div" class="button" :to="{ name: 'NumberInsurence'}">
            <div class="icon"><img src="@/assets/images/insurance/add.svg" alt="car" /></div>
            <span>Додати свiй полiс</span>
          </router-link>
          <router-link tag="div" class="button" :to="{ name: 'InsurenceArchive'}">
            <div class="icon"><img src="@/assets/images/insurance/archive.svg" alt="car" /></div>
            <span>Архiв</span>
          </router-link>
        </div>
      </div>

      <div class="list fix-size-container" v-if="insurancesList">
        <div class="list__title">Додані страховки</div>
        <router-link v-for="(card, key) in insurancesList"
                     :key="key"
                     :to="{ name: 'Details' ,params: {id: key}}"
                     tag="div"
                     >
          <div class="card">
            <div class="card__logo"><img src="@/assets/toyota.png" alt=""></div>
            <div class="card__info">
              <div class="card__brand">{{ card.car_brand }} {{ card.car_model }}</div>
              <div class="card__company">{{ card.insurance_company }}</div>
              <div class="card__cod">{{ card.insurance_policy }}</div>
            </div>
          </div>

        </router-link>
      </div>
    </div>
    
  </div>
</template>

<script>
// import Header from "../Header&Footer/Header";
import { mapGetters } from 'vuex'

export default {
  name: "Landing",
  components: {
    // Header,
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      insurancesList: 'getInsurances'
    })
  },
  metaInfo() {
    return {
      title:
        "Кредит на мрію онлайн по Україні | Займ на карту до 200 000 грн з Ocean ",
      meta: [
        {
          vmid: "description",
          property: "description",
          content:
            "Взяти кредит готівкою до 200 000 грн на карту терміново ▶ Найвигідніші кредити онлайн на термін до 36 місяців по Україні. Попереднє рішення за 1 хвилину. Найкращі умови кредитування 24/7 тільки з Ocean",
        },
      ],
    };
  },
  created(){
    this.$store.dispatch('loadInsurances')
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "TT Hoves";
  line-height: 140%;
  font-size: 20px;
}
.fix-size-container {
  width: 320px;
}
.land {
  background: url("../../assets/images/insurance/land.jpg");
  height: 200px;
  padding: 17px 20px;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
  background-size: cover;
  max-width: 100%;
  min-width: 0;
  box-sizing: border-box;
}
.grey {
  background: #f4f6f7;
  padding-top: 20px;
  padding-bottom: 110px;
}
.button {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  color: #1b1b1b;
  width: 100%;
  height: 80px;
  padding: 19px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 28px;
}
.button img {
  width: 36px;
  margin-right: 24px;
}
.list{
  text-align: left;

  &__title{
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
}
.card{
  background: #FFFFFF;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 14px;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 10px;

  &__brand{
    margin-bottom: 10px;
  }

  &__logo{
    flex-shrink: 0;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 18px;
    img{
      max-width: 100%;
    }
  }

  &__company{
    color: #77777B;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
.scroll-menu{
  box-sizing: border-box;
  overflow: auto;
  padding: 0 calc(50vw - 168px);
  width: 100%;
  .fix-size-container{
    display: flex;
    padding-right: 10px;
    .button{
      flex-shrink: 0;
      margin-right: 10px;
      flex-direction: column;
      padding: 15px;
      text-align: left;
      height: auto;
      width: 130px;
      box-sizing: border-box;
      align-items: flex-start;
      .icon{
        height: 42px;
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        img{
          max-height: 100%;
        }
      }
    }
  }
}
.overflow-hidden{
  overflow: hidden;
}
</style>
